extends ../layouts/default

block js
    // Go to www.addthis.com/dashboard to customize your tools
    script(type='text/javascript', src='//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55b2dbd44d4c702c', async='async')


block content
    
    //- .promo-banner
    //-     p Celebrate the holidays with a 40% discount!
    
    .section.section--first
            .introduction

                //- Customise your site's navigation by changing the navLinks Array in ./routes/middleware.js
                //- ... or completely change this header to suit your design.

                a.introduction--logo-white(href='/') Tiny Love
                //- ul
                //-     each link in navLinks
                //-         li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
                ul.introduction__access
                    if user
                        if user && user.canAccessKeystone
                            li: a(href='/keystone') Open Admin
                        li: a(href='/keystone/signout') Sign Out
                    else
                        li: a.button.button--teal(href='/user/signin') Sign In

                h2.introduction__headline 
                  | Imagine being there for <br />
                  | #[em that] moment
                h3.introduction__subheadline 
                  | Prepare to change the world, <br />
                  | with Tiny Love
                
                if !user
                    a(href='/user/signup').main-cta.button.button--red Signup for the program!
                    .scroll-instructions
                      p.scroll-instructions__text Still curious about becoming a doula? Keep scrolling.
                      i.icon-arrows_down_double
                else 
                    a(href='/user/dashboard').main-cta.button.button--red Go to my dashboard

    .section.section--white
        .how-it-works
            h2 How the Tiny Love program works
            h3 You don’t need prior experience to get started.
            p We’ve lovingly poured the experience of more than 1400 births into this course.
            p In addition to real-world experience, our curriculum consists of a mix of online, video and print materials as well as practical activities to help you start your business.
            p We leverage multiple resources to keep the program fun and engaging. The assignments encourage networking and becoming active where you call home.
            p We believe this is a valuable, business-building, active-training program, and we welcome your participation.
            a(href='/page/frequently-asked-questions').button Need more information?

    .section.section--tan
        .requirements
            h2 The requirements
            ul.two-column
                li Gain access to a computer or digital device with Internet service
                li Complete the online modules
                li Obtain three evaluations from mother and partner or other family/friend
                li Read the required reading materials
                li Attend a childbirth class
                li Sign a commitment to operate within the Tiny Love Standards of Practice

            include ../mixins/tips-to-succeed

    .section.section--white
        .books
            h2 Required reading list
            a.book-link.book-link--required(href="http://www.amazon.com/Birth-Partner-Complete-Childbirth-Companions/dp/155832819X/ref=sr_1_1", target="_blank")
                img(src="images/book-birth-partner@2x.png", alt="The Birth Partner - Revised 4th Edition: A Complete Guide to Childbirth for Dads, Doulas, and All Other Labor Companions")
            a.book-link.book-link--required.book-link--wide(href="http://www.amazon.com/Doula-Book-Companion-Healthier-Lawrence/dp/0738215066/ref=sr_1_1", target="_blank")
                img(src="images/book-doula-book@2x.png", alt="The Doula Book: How a Trained Labor Companion Can Help You Have a Shorter, Easier, and Healthier Birth (A Merloyd Lawrence Book)")
            a.book-link.book-link--required(href="http://www.amazon.com/Nurturing-Touch-Birth-Support-Handbook-/dp/0964115921/ref=sr_1_1?s=books&ie=UTF8&qid=1435276187&sr=1-1&keywords=the+nurturing+touch+at+birth", target="_blank")
                img(src="images/book-nurturing-touch@2x.png", alt="The Nurturing Touch at Birth: a Labor Support Handbook- Third Edition")
            a.book-link(href="http://www.amazon.com/Labor-Progress-Handbook-Interventions-Dystocia/dp/0632052813/ref=sr_1_2?s=books&ie=UTF8&qid=1435276230&sr=1-2&keywords=the+labor+progress+handbook", target="_blank")
                img(src="images/book-labor-progress@2x.png", alt="The Labor Progress Handbook: Early Interventions to Prevent and Treat Dystocia")

    .section.section--tan
        .mentors
            h2 The Tiny Love Mentors

            .bio-teaser
                img.image-rounded(src="images/jessica.jpg", alt="Jessica", width="180")
                h3 Jessica
                p 
                 | Mom of two, Birth Doula, CPM, <br />
                 | LM-Homebirth Midwife.
                a.button(href="#jessica-modal") More about Jessica
                .remodal(data-remodal-id='jessica-modal', role='dialog', aria-labelledby='jessicaModalTitle')
                  button.remodal-close(data-remodal-action='close', aria-label='Close')
                  div
                    h3#jessicaModalTitle Meet Jessica
                    img.article-image.article-image--fl(src="/images/jessica-work.jpg", alt="Jessica at after a birth.")
                    p Being a doula for more than 20 years and a DONA Birth Doula Trainer for 10, has taught me that birth is normal, sacred, and something that will affect mothers, children and fathers for the rest of their lives. It sets the foundation for everything that follows. Birth (and pregnancy) teach us that we can accomplish something truly miraculous, we can give of ourselves in ways we never knew, and we can make tough decisions. It also teaches us that when we open up our body and heart, accept support from others, and connect on a deeper level, it brings out the mother in each of us.  I have mentored countless doulas, trained hundreds of birth doulas, and been fortunate enough to have shared birth with so many families from various cultural backgrounds, all while raising my own two amazing and beautiful babies. Through many years of doula training around the country, I have actively worked towards my goal as a doula and a mentor - to bring out the mother, strengthen the family bond, and provide a valuable service. I try to convey that along with sound business development advice here in this on-line course. 

            .bio-teaser
                img.image-rounded(src="images/kristen.jpg", alt="Kristen", width="180")
                h3 Kristen
                p Mom of three, Birth Doula, CPM, LDM-Midwife
                a.button(href="#kristen-modal") More about Kristen
                .remodal(data-remodal-id='kristen-modal', role='dialog', aria-labelledby='kirstenModalTitle')
                  button.remodal-close(data-remodal-action='close', aria-label='Close')
                  div
                    h3#kirstenModalTitle Meet Kristen
                    img.article-image.article-image--fr(src="/images/kristen-work.jpg", alt="Kristen at after a birth.")
                    p Over the last two decades I have devoted my knowledge, experience and practical understanding in helping to guide mothers and families during pregnancy, birth and postpartum. I have three children and three very different birth experiences. My first was born in a hospital with lots of interventions and very little support, I left that birth confused, frustrated, and in pain. I knew there had to be a better way, I vowed to offer my emotional, physical, and practical support to women in labor as often as they would let me, I had no idea that what I was doing was called a "doula".  When my second baby was born, I gave birth in a hospital with a CNM and not just one doula, but two! It was completely natural and the most empowering experience of my life. After my second son was born, I was convinced that doulas should be available to every woman that wants one and I was going to set out to make that happen. I started mentoring new doulas and simultaneously, started on my path to midwifery. Finally, I had my last baby, at home in water, with two CPM's, and an amazing doula, I couldn't have asked for a better more beautiful birth experience. I love birth, I love watching women transform into mothers, and  I love providing opportunities for women to touch another woman's life on what is arguably the most important day of her life.  Having small children and working as a doula, is not only possible, its extremely rewarding, can you think of a better reason to leave the house?

    .section.section--white
        .cost
            h2 Program Cost
            h3 One-time charge of #[span.price $460.00]
            p While there are no fees for things like doula training organizations, packet fees, application fees, membership fees or certification renewals we do require that you purchase the books on the required reading list and highly recommend that you purchase The Labor Progress Handbook. You can find these books new or used at a local bookstore or at many online retailers.
            p Since all materials are available immediately online there are no refunds offered after you have purchased the program.
            p Payments can be made online using your credit card or your PayPal account.
            if !user
              a(href="/user/signup").button.button--red Sign up
            

    if !user
      .section.section--tan
          .share-the-love
              h2 Spread the Word
              h3 Know someone who would like to be a doula?
              p Kindly share Tiny Love! We genuinely thank you in advance.
              // Go to www.addthis.com/dashboard to customize your tools
              .addthis_sharing_toolbox

      
  
