//- @mark-bradshaw can we make this layout dependent on logged in status?
extends ../layouts/page-layout

block content
		article.page__article
			if !data.page
				h2 Invalid Post.
			else
				header
					h1= data.page.title
				.page(data-ks-editable=editable(user, { list: 'Page', id: data.page.id }))
					if data.page.image.exists
						.image-wrap: img(src=data.page._.image.fit(750,450)).img-responsive
					!= data.page.content
