mixin html-header
    head
        //- TODO: We need better SEO meta stuff in here.
        title= title || 'Tiny Love'        
        meta(name='google-site-verification', content='W4zQqypvlz5MTLzf0N2xBeoWToJp5aSp0lvJrAScwdM')

        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
                
        meta(name='description', content='Prepare to change the world, with Tiny Love.')

        meta(property='og:title', content='Tiny Love')
        meta(property='og:site_name', content='Tiny Love Doula Certification')
        meta(property='og:url', content='http://www.beadoula.com')
        meta(property='og:description', content='Prepare to change the world, with Tiny Love.')

        
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="icon" sizes="192x192" href="/images/launcher-icon-4x.png")
        link(rel="apple-touch-icon" sizes="128x128" href="/images/apple-touch-icon.png")
        link(href='http://fonts.googleapis.com/css?family=Merriweather:600,400,300', rel='stylesheet', type='text/css')
        //- link(href='http://fonts.googleapis.com/css?family=Lato:300,400', rel='stylesheet', type='text/css')
        //- link(href='http://fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic', rel='stylesheet', type='text/css')
        //- This file provides the default styling for the KeystoneJS Content Editor
        if user && user.canAccessKeystone
            link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")
        
        //- Customise the stylesheet for your site by editing /public/styles/site.sass
        link(href="/css/site.css", rel="stylesheet")
        
