a.button(href='#tips-modal') Tips to succeed
.remodal.tips(data-remodal-id='tips-modal', role='dialog', aria-labelledby='tipsModalTitle')
  button.remodal-close(data-remodal-action='close', aria-label='Close')
  div
    h2#tipsModalTitle How to get the most out of the course.
    h3 Get inspired.
    p This program is designed to be interactive, it encourages you to go in to your community. engage with birth professionals and expecting/postpartum families, we realize that this can be intimidating at first, but once you make these efforts, it   will get easier and you will be well on your way in becoming a skilled professionally certified birth doula.
    h3 Work at your own speed.
    p We recommend working at whatever pace allows you to absorb the information and feel prepared. If you go too quickly, the information may not “sink in”, and if you go too slowly, you may forget essential information and may not feel as inspired. So, find what pace works for you and your family.
    h3 Be organized.
    p You will keep a portfolio - a designated folder where you keep all of your doula training related papers. You will find that when you start meeting people in your community you will start to get lots of business cards and pamphlets, try and keep them together. Once you complete your portfolio, you will find it will be much easier if you’ve been organized from the beginning.
    h3 Keep a journal.
    p If you’ve never kept a journal before or if you’ve always had one, this would be a great time in your life to journal about your blossoming doula experience. Through this process of becoming certified, lots of folks have life changing and eye opening discoveries about themselves, these feelings and experiences can feel very intense, joyous, or just confusing. Writing a journal can be a wonderful tool for self discovery.
    h3 Meet other doulas.
    p We highly recommend meeting other doulas in your community, online, or anywhere you can find them. Having support from someone who can understand your experiences can be one of the most valuable professional relationships you can have. Being at a birth and processing all the intense emotions, procedures, events, and outcomes that you have just witnessed, can be overwhelming, to have a friend to process these events with can make these moments not only less intense, but also more joyful.
    h3 Your portfolio.
    p Keep your portfolio up to date and organized with all of your assignments and notes. This is evidence that you completed the work and may be audited. The work is not only required for certification but provides you with a useful start in your business.
    
  //- button.button.remodal-cancel(data-remodal-action='cancel') Cancel
  button.button.button--green(data-remodal-action='confirm') Cool. I can do that!
//- end .remodal
