include ../mixins/flash-messages
include ../mixins/html-header

doctype html
html
    
    +html-header

    body.dashboard
        
        //- TODO: This will need some active class highlighting
        nav.user-navigation
          ul.user-navigation__ul
            li
              a(href="/user/dashboard", data-tooltip="Dashboard")
                img.user-navigation__logo-icon(src="/images/logo-flower.svg", alt="Home")
            li
              a(href="/user/resources", data-tooltip="Resources")
                span.hide-text Resources
                i.icon-ecommerce_bag
            li
              a(href="/user/account", data-tooltip="My Account") 
                span.hide-text My Account 
                i.icon-basic_lock_open
            li
              a(href='/keystone/signout', data-tooltip="Sign Out") 
                span.hide-text Sign Out
                i.icon-basic_ban
                //- i.icon-arrows_down_double
      
        main.user-content(role="main")
            
            +flash-messages(messages)

            block content


        script(src='/js/jquery/jquery-2.1.3.min.js')

        //- The KeystoneJS Content Editor provides support for ks-editable data attributes,
        //- which generate links to edit content for users who can access Keystone
        if user && user.canAccessKeystone
            script(src='/keystone/js/content/editor.js')
