include ../mixins/html-header

doctype html
html
    
    +html-header

    body.lesson
    
        nav.overview
            a(href='/' + module.key, data-tooltip="Overview")
                i.icon-arrows_list
      
        main.lesson-content(role="main")

            block lesson
        
            //- TODO: this needs to be conditional based on existing content or not
            aside.supplemental
            
                block supplemental
            
        footer.lesson-footer
            .progress
                //- h2.progress__module-name= module.name
                ul.progress__list
                    each lesson in lessons
                        li.progress__list-item
                            a(href='/' + module.key + '/' + lesson.key, data-tooltip=lesson.name)
                                span.hide-text= lesson.name
                                span.progress__marker
                
            //- This will need some dynamic action for when it's the last lesson.
            if nextLesson
                a.progress__button.button.button--red(href='/' + module.key + '/' + nextLesson.key) Next Lesson
            else
                a.progress__button.button.button--green(href='/user/dashboard') Complete

        script(src='/js/jquery/jquery-2.1.3.min.js')

        //- The KeystoneJS Content Editor provides support for ks-editable data attributes,
        //- which generate links to edit content for users who can access Keystone
        if user && user.canAccessKeystone
            script(src='/keystone/js/content/editor.js')
