body.lesson {
    background-color: white;
}

.lesson-content {
    padding: 1.6em 2.2em 1.2em 7em;
    h1 {
        font-family: $cursive;
        font-size: 2.2em;
        line-height: .7;
        color: $teal;
    }
    h2 {
        font-family: $display-font;
        color: $deep-blue;
        font-size: 1.875em;
        margin-bottom: 1em;
    }
}

.lesson-body {
    max-width: 650px;
    margin-bottom: 100px;
    h1, h2, h3, h4, h5, h6 {
        font-family: $display-font;
        color: $deep-blue;
        line-height: 1.3;
    }
}

// Progress footer
.progress {
    background-color: $tan;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
    padding: 1em;
    @include display(flex);
}
.progress__list {
    @include flex(5);
}
.progress__button {
    @include flex(1);
    text-align: center;
}
.progress__list-item {
    display: inline-block;
    margin: 0;
    padding-top: 1em;
    [data-tooltip]:before {
        padding: .5em 1em;
        @include transform(translateX(0)translateY(-100%));
        &:hover {
            @include transform(translateX(0)translateY(0));
        }
    }
}
.progress__marker {
    height: 14px;
    width: 14px;
    background-color: transparent;
    border: solid 1px $deep-blue;
    display: block;
    border-radius: 500px;
}
.progress__marker--current {
    background-color: $teal;
    border-color: $teal;
}

nav.overview {
    position: absolute;
    top: 0;
    left: 0;
    [class^="icon-"] {
      font-size: 2em;
    }
    a {
        height: 4em;
        width: 4em;
        line-height: 4.2em;
        display: block;
        color: $deep-blue;
        text-align: center;
        @include transition(all 250ms ease);
        @media only screen and (max-width: 420px) {
            // do mobile stuff
        }
        &:hover, &.active {
          background-color: $deep-blue;
          color: white;
        }
        &[data-tooltip]:before {
          height: 4em;
          padding: 0 1em;
          line-height: 4.2em;
          // hide tooltips on mobile
          @media only screen and (max-width: 420px) {
            display: none;
          }
        }
    }
}
