body.lesson {
    background-color: white;
    padding-top: 3.6em;
}

.lesson-content {
    padding: 0 3em 5em 7em;
    @include clearfix;
    @media only screen and (max-width: 768px) {
        float: none;
        padding: 80px 20px 5em 20px;
    }
    .module-name {
        font-family: $cursive;
        font-size: 2.2em;
        line-height: .7;
        color: $teal;
    }
}

.lesson-body {
    float: left;
    width: 60%;
    @media only screen and (max-width: 768px) {
        float: none;
        width: 100%;
    }
    img {
        box-shadow: 0 1px 3px rgba($deep-blue,.2);
        border-radius: 2px;
        @include transform(rotate(-0.4deg));
    }
}

// supplemental block on right side
.supplemental {
    float: left;
    width: 30%;
    margin: 2em;
    padding: 0 1em;
    border-left: solid 4px $tan;
    @media only screen and (max-width: 768px) {
        float: none;
        width: 100%;
        padding: 1em;
        border: none;
        margin: 0;
    }
}
.supplemental__title {
    font-size: 1.3em;
    position: relative;
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 40%;
        left: 30%;
        width: 90px;
        height: 60px;
        background-image: url('/images/cherry-blossom.svg');
        background-size: contain;
        background-repeat: no-repeat;
        @include transform(rotate(-10deg));
    }
}
.supplemental__content {
    font-size: .9em;
    *:last-child {
        margin-bottom: 0;
    }
    img {
        box-shadow: 0 1px 3px rgba($deep-blue,.2);
        border-radius: 2px;
        @include transform(rotate(-0.4deg));
    }
    a {
        color: darken($deep-blue, 50%);
        border-bottom: dotted 1px $red;
        text-decoration: none;
    }
}



// Progress footer
.lesson-footer {
    background-color: $tan;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1em 1.5em;
    @include display(flex);
    @include align-items(center);
}
.progress {
    @include flex(6);
    margin-right: 1em;
    @media only screen and (max-width: 768px) {
        display: none;
    }
}
.progress__module-name {
    font-size: 1em;
    margin: 0 0 .5em 0;
}
.progress__list {
    padding-top: .4em;
}

.progress__button {
    @include flex(1);
    text-align: center;
    font-size: 1em;
}
.progress__list-item {
    display: inline-block;
    margin: .4em;
    position: relative;
    [data-tooltip]:before {
        padding: .5em 1em;
        top: -5px;
        @include transform(translateY(-100%));
        &:hover {
            @include transform(translateY(0));
        }
    }
    &:after {
        width: 240%;
        position: absolute;
        top: 7px;
        left: 0;
        z-index: -1;
        content: "";
        border-bottom: solid 1px $brown;
    }
    &:last-child:after {display: none}
}
.progress__marker {
    height: 14px;
    width: 14px;
    background-color: white;
    border: solid 1px $brown;
    display: block;
    border-radius: 500px;
    &:hover {
        border-color: $deep-blue;
        background-color: $deep-blue;
    }
}
.progress__marker--current {
    background-color: $teal;
    border-color: $teal;
}

.progress__marker--completed {
  background-color: $brown;
  border-color: $brown;
}

nav.overview {
    position: absolute;
    top: 1.7rem;
    left: 0;
    [class^="icon-"] {
      font-size: 2em;
    }
    a {
        height: 5rem;
        width: 5rem;
        line-height: 5.2rem;
        display: block;
        color: $deep-blue;
        text-align: center;
        @include transition(all 250ms ease);
        @media only screen and (max-width: 420px) {
            // do mobile stuff
        }
        &:hover, &.active {
          background-color: $deep-blue;
          color: white;
        }
        &[data-tooltip]:before {
          height: 5rem;
          padding: 0 1rem;
          line-height: 5.2rem;
          // hide tooltips on mobile
          @media only screen and (max-width: 420px) {
            display: none;
          }
        }
    }
}
