body.lesson {
    background-color: white;
}

.lesson-content {
    padding: 1.2em 2.2em 1.2em 7em;
}

.lesson-body {
    max-width: 700px;
    margin-bottom: 100px;
}

// Progress footer
.progress {
    background-color: $tan;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: right;
    padding: 1em;
}

nav.overview {
    position: absolute;
    top: 0;
    left: 0;
    [class^="icon-"] {
      font-size: 2em;
    }
    a {
        height: 4em;
        width: 4em;
        line-height: 4.2em;
        display: block;
        color: $deep-blue;
        text-align: center;
        @include transition(all 250ms ease);
        @media only screen and (max-width: 420px) {
            // do mobile stuff
        }
        &:hover, &.active {
          background-color: $deep-blue;
          color: white;
        }
        &[data-tooltip]:before {
          height: 4em;
          padding: 0 1em;
          line-height: 4.2em;
          // hide tooltips on mobile
          @media only screen and (max-width: 420px) {
            display: none;
          }
        }
    }
}
