.main-content {
  @include torn-page;
  padding: 3em 2.5em 2.5em 2.5em;
  max-width: 750px;
  margin-bottom: 100px;

    a {
      color: $deep-blue;
      text-decoration: none;
      border-bottom: solid 1px white;
      @include transition(all 250ms ease-in-out);
      &:hover {
          color: $red;
          border-bottom: dotted 1px $red;
      }
      &.current {
          border-bottom: solid 3px $red;
          box-shadow: inset 0 -6px 0 $red;
      }
    }

} // .main-content


.lessons-list {
    border-left: solid 1px $tan;
    padding-left: 1em;
}
