.module-list {
  max-width: 700px;
}
.module-list__title {
  margin: 0;
  font-size: 1.5em;
}
.module-list__link {
    background-color: white;
    box-shadow: 0 1px 3px rgba($deep-blue,.2);
    border-radius: 2px;
    padding: 2em;
    color: $deep-blue;
    display: block;
    text-decoration: none;
    position: relative;
    @include transition(all 250ms ease-in-out);
    &:not(.module-list__link--disabled):hover {
        @include transform(scale(1.025));
        @include transform-origin(center center);
        box-shadow: 0 1px 3px rgba($deep-blue,.2), 0 10px 13px rgba($deep-blue,.1);
    }
}

// States of modules
.module-list__link--completed {
        &:after {
            content: "Complete";
            font-family: $cursive;
            color: $green;
            position: absolute;
            top: 4px;
            right: 10px;
            @include transform(rotate(4deg));
            font-size: 1.3em;
        }
}
.module-list__link--current {
        color: $red;
}
.module-list__link--disabled {
  @include opacity(0.5);
  cursor:not-allowed;
  pointer-events: none;
}
