.white-box {
    padding: 3em;
    @include torn-page;
}


.button-row {
    @include display(flex);
    a {
        @include flex(1);
        text-align: center;
        margin-right: 1em;
        &:last-child {margin-right: 0;}
    }
}
