.user-content {
  padding: 1.2em 2.2em 1.2em 7em;
  @media only screen and (max-width: 420px) {
    padding: 80px .6em .6em .6em;
  }
}

.page-title {
  font-family: $cursive;
  color: $teal;
  font-size: 2.75em;
  margin-bottom: .25em;
  @media only screen and (max-width: 420px) {
    text-align: center;
  }
}
