extends ../../layouts/dashboard-layout

block content
		h1.page-title My Account
		
		.single-form.my-account
		
			form.single-form__form(method='post')
				input(type='hidden', name='action', value='changePassword')
					
				.form-group
					label New Password
					input(type='text', name='newpass').form-control
					
				.form-actions
					button(type='submit').button.button--green Save
