extends ../../layouts/dashboard-layout

block content
    h1.page-title Dashboard

    ul.module-list
        if modules.length
            each module in modules
                li.module-list__item(data-ks-editable=editable(user, { list: 'Module', id: module.id }))
                    if module.status !== 'disabled'
                        a(class='module-list__link module-list__link--' + module.status, href='/' + module.key)
                            h2.module-list__title= module.name
                    else
                        h2.module-list__title= module.name
        else
            h2 Whoops, you need to make some more Modules
