extends ../../layouts/dashboard

block content
		h1.page-title Dashboard
		
		ul.module-list
			
			//- Mark, notice the different classes here for the "states" of the modules.
			
			li.module-list__item.module-list__item--completed
				h2.module-list__title A Summary of Pregnancy and Birth
				a.module-list__button.button.button--small(href="#") Review
			
			li.module-list__item.module-list__item--current
				h2.module-list__title What is a doula? - The doula and birth
				a.module-list__button.button.button--small(href="#") Continue
			
			li.module-list__item.module-list__item--disabled
				h2.module-list__title Postpartum for birth doulas
				a.module-list__button.button.button--small(href="#") Review
			li.module-list__item.module-list__item--disabled
				h2.module-list__title Breasfeeding and the role of the doula
				a.module-list__button.button.button--small(href="#") Review
			li.module-list__item.module-list__item--disabled
				h2.module-list__title Building a practical birth doula business
				a.module-list__button.button.button--small(href="#") Review
