extends ../../layouts/lesson-layout

block lesson

	.lesson-body(data-ks-editable=editable(user, { list: 'Lesson', id: lesson.id }))
		
		h1.module-name= lesson.name
		
		!= lesson.content


block supplemental
	h2.supplemental__title In This Lesson
	
	.supplemental__content
		!= lesson.supplemental
