extends ../../layouts/lesson-layout

block lesson

		h1.page-title Lesson Title
		
		.lesson-body
			h1 Something to say
			p Identify and ask to observe a local childbirth class of 8 or more hours in length. Classes could be from any technique or background as long as it is presented to pregnant women and their husband/support person.
			
		
		
		
		
block supplemental
			
			
			
