extends ../../layouts/dashboard

block content

		h1.page-title Module Overview
		
		.main-content
			
			//- Start putting the module overview here.
			//- h1= module.name
			h1 Module Name
			
			ul.lessons-list
				
				li: a(href='#') Lesson Name
				li: a(href='#') Lesson Name
				li: a(href='#') Lesson Name
				li: a(href='#') Lesson Name
				li: a(href='#') Lesson Name
				li: a(href='#') Lesson Name
				li: a(href='#') Lesson Name
			
			//- <ul> that lists out all the lessons in this module
