extends ../../layouts/dashboard

block content

		h1.page-title Module Overview
		
		.main-content
			
			//- Start putting the module overview here.
			//- h1= module.name
			h1= module.name
            
			if lessons.length
				ul.lessons-list
					each lesson in lessons
						li: a(href='/' + module.key + '/' + lesson.key)= lesson.name
			
			//- <ul> that lists out all the lessons in this module
