extends ../../layouts/dashboard-layout

block content

		h1.page-title Module Overview
		
		.main-content
			
			h1(data-ks-editable=editable(user, { list: 'Module', id: module.id }))= module.name
            
			if lessons.length
				ul.lessons-list
					each lesson in lessons
						li
							a(href='/' + module.key + '/' + lesson.key, class=lesson.status) #{lesson.name}
