extends ../../layouts/default

block content
	.container
		h1 pay
		
		p Here's the reason's you should pay.
			
		p
			img(src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/buy-logo-large.png" alt="Buy now with PayPal")
