extends ../../layouts/access-form

block content
	if user
		.white-box
			h3 Hi #{user.name.first},
			p You're already signed in.
			.button-row
				if user.isAdmin
					a.button.button--small(href='/keystone') Admin
				a.button.button--small.button--red(href='/keystone/signout') Sign out
				a.button.button--small.button--green(href='/user/dashboard') Dashboard

	else
		.single-form.get-started
			form.single-form__form(method="post", novalidate)
				input(type='hidden', name=csrf_token_key, value=csrf_token_value)
				.form-group
					label(for='email') Email
					input(type='email', name='email', id='email', value=submitted.email).form-control
				.form-group
					label(for='password') Password
					input(type='password', name='password', id='password').form-control
				.form-actions
					a.forgot-password(href='/user/forgot') Forgot Password
					button(type='submit').button.button--green Sign In

			//- TODO generic forgotten password functionality
			//- button(type='button').btn.btn-link Forgot Password?

block js
	//- Only focus the field after the shake animation is complete
	if messages && messages.error.length
		script setTimeout(function() { try { document.getElementById('email').focus(); } catch(e) {}; }, 800);
	else
		script try { document.getElementById('email').focus(); } catch(e) {};
