.button {
    display: inline-block;
    font-family: $display-font;
    font-size: 1.2em;
    background-color: $deep-blue;
    color: #ffffff;
    text-decoration: none;
    padding: .3em 1.5em;
    border-radius: 2px;
    box-shadow: 0px 3px $deep-blue-dark;
    position: relative;
    @include transition(background-color 500ms ease);
    &:active {
        opacity: 0.65;
    }
    &:hover {
        background-color: darken($deep-blue, 5%);
    }
}

.button--red {
    background-color: $red;
    box-shadow: 0px 3px $red-dark;
    &:hover {
        background-color: darken($red, 8%);
    }
}