@font-face {
  font-family: 'Diehl Deco';
  src: url('../../fonts/DIEHLD__.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/DIEHLD__.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/DIEHLD__.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/DIEHLD__.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/DIEHLD__.svg#0b53f6c79a610ae68458958c48464b61') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Learning Curve Pro';
  src: url('../../fonts/LearningCurve_OT.eot'); /* IE9 Compat Modes */
  src: url('../../fonts/LearningCurve_OT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../../fonts/LearningCurve_OT.woff') format('woff'), /* Modern Browsers */
       url('../../fonts/LearningCurve_OT.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../../fonts/LearningCurve_OT.svg#1ff628aaeba3fefa42d665ab5db18e3d') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  400;
}

