// Base form elements

input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    width: 100%;
    border: solid 1px $grey;
    @include transition(all 0.30s ease-in-out);
    padding: 0.55em;
    font-size: 1.2em;
    border-radius: 2px;
    &:focus {
        box-shadow: 0 0 10px rgba($teal, .5);
        border: 1px solid rgba($teal, .5);
        outline: none;
        @include transform(scale(1.03));
    }
}

.form-group {
    margin-bottom: 1em;
    &:last-child {
        margin-bottom: 0;
    }
    label {
        font-weight: 400;
        display: block;
        margin-bottom: .25em;
    }
}

.form-actions {
    text-align: right;
    .button {
        margin-bottom: 0;
    }
}

.forgot-password {
    margin-right: 1em;
    display: inline-block;
    font-size: .9em;
    text-decoration: none;
    color: darken($grey,20%);
    &:hover {
        color: $red;
    }
}



// Single Form Page styles
.return-home {
    font-family: $display-font;
    font-size: 1.2em;
    text-decoration: none;
    color: $deep-blue;
    padding: 1em;
    @include transition(all 250ms ease);
    display: block;
    max-width: 450px;
    margin: 0 auto;
    text-align: center;
    &:before {
        display: inline-block;
        vertical-align: middle;
        content: url('/images/logo-flower.svg');
        margin-right: .5em;
    }
    &:hover {
        @include transform(scale(1.03));
    }
}

.access-form, .pay-form {
    .main {
        max-width: 500px;
        margin: 2em auto 5em;
    }
}

.single-form {
    margin: .5em;
    position: relative;
    @include torn-page;
    max-width: 480px;
}
.single-form__title {
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    margin: 0;
    background-color: $deep-blue;
    background-image: url('../images/bg-get-started@2x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: $text-shadow-style;
    padding: 3em 1em;
    @include filter(grayscale(30%));
    &.single-form__title--pay {
        background-image: url('../images/bg-pay@2x.jpg');
        background-position: center 70%;
        background-color: transparent;
        padding: 2em 1em;
        font-size: 2.5em;
    }
}
.single-form__form {
    padding: 2.2em;
}


// payment form

.buy-button {
    text-align: center;
    width: 200px;
    margin: 0 auto;
    display: block;
}
