// Base form elements

input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    width: 100%;
    border: solid 1px $grey;
    @include transition(all 0.30s ease-in-out);
    padding: 0.55em;
    font-size: 1.2em;
    border-radius: 2px;
    &:focus {
        box-shadow: 0 0 10px rgba($red, .5);
        border: 1px solid white;
        outline: none;
        @include transform(scale(1.03));
    }
}

.form-group {
    margin-bottom: 1em;
    &:last-child {
        margin-bottom: 0;
    }
    label {
        font-weight: 400;
        display: block;
        margin-bottom: .25em;
    }
}

.form-actions {
    text-align: right;
    .button {
        margin-bottom: 0;
    }
}



// Single Form Page styles
.return-home {
    font-family: $display-font;
    text-decoration: none;
    color: $deep-blue;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em;
    @include transition(all 250ms ease);
    display: block;
    &:before {
        display: inline-block;
        vertical-align: middle;
        content: url('/images/logo-flower.svg');
        margin-right: .5em;
    }
    &:hover {
        @include transform(scale(1.03));
    }
}

.access-form .main {
    max-width: 450px;
    margin: 0 auto;
    padding-top: 5em;
}

.single-form {
    margin: 0;
    position: relative;
    @include torn-page;
    max-width: 480px;
}
.single-form__title {
    text-align: center;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    margin: 0;
    background-color: $deep-blue;
    background-image: url('../images/bg-get-started@2x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: $text-shadow-style;
    padding: 2.2em 1em;
    @include filter(grayscale(30%));
}
.single-form__form {
    padding: 2.2em;
}
