body.home {
    text-align: center;
    @media only screen and (max-width: 40em) {
        p {text-align: justify;}
    }
}

.remodal p, ol, ul {
  text-align: left;
}

.section {
    padding: 4em 1em;
    @include clearfix;
    & > div {
        max-width: $section-max-width;
        margin: 0 auto;
    }
    &.section--white {background-color: #ffffff;}
    &.section--tan {background-color: $tan;}
    &.section--red {
        background-color: $red;
        color: white;
    }
    &.section--blue {
        background-color: $deep-blue-dark;
        color: white;
    }
}

.section--first {
    background-image: url('../../images/home-flower-darker.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 12em 1em 4em 1em;
    min-height: 768px;
    @media only screen and (max-width: 480px) {
        padding: 8em 1.5em 3em 1.5em;
    }
    & > div {
      max-width: 800px;
    }
}

.introduction {
    color: white;
    .button {
        margin: 2.5em 0 2.9em 0;
    }
}

.introduction--logo-white {
    display: block;
    height: 80px;
    width: 180px;
    text-indent: -5000px;
    background-image: url('../../images/tiny-love-logo-full-white.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 1em;
    left: 1em;
    @media only screen and (max-width: 40em) {
        height: 56px;
        width: 140px;
    }
}
.introduction__access {
    position: absolute;
    top: 1em;
    right: 1em;
    li {
        display: inline-block;
        margin-left: 1em;
    }
    a {
        font-family: $display-font;
        color: white;
        text-decoration: none;
        display: inline-block;
        @include transition(all 200ms ease-in-out);
        &:hover {
            color: $red;
            @include transform(scale(1.05));
        }
    }
}

.introduction__headline {
    font-family: $display-font;
    font-size: 2.6em;
    text-shadow: $text-shadow-style;
    margin-bottom: .4em;
    @media only screen and (max-width: 480px) {
        font-size: 2em;
    }
}
.introduction__subheadline {
  font-family: $cursive;
  text-align: center;
  line-height: .8;
  font-size: 3.3em;
  margin-bottom: 0;
  color: white;
  text-shadow: $text-shadow-style;
  @media only screen and (max-width: 480px) {
    font-size: 2.4em;
  }
}

.scroll-instructions {
    line-height: .8;
    font-size: 1.6em;
    margin: 0 0 .5em 0;
    text-shadow: $text-shadow-style;
    text-align: center !important;
    @media only screen and (max-width: 40em) {
        font-size: 2.3em;
    }
}


.how-it-works {
    background-image: url('../images/cherry-blossom.svg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding-top: 5em;
}

.requirements {
    background-image: url('../images/branch.svg');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    padding-bottom: 4em;
}

.books {
    background-image: url('../images/twig.svg');
    background-repeat: no-repeat;
    background-position: 50% 100%;
    padding-bottom: 6em;
    max-width: 800px !important;
    .book-link {
        display: inline-block;
        height: 230px;
        width: 154px;
        margin: 1em;
        position: relative;
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.20);
        overflow: hidden;
        @include transition(all 300ms ease-in-out);
        &.book-link--wide {width: 180px}
        &:hover {
            @include transform(scale(1.1) rotate(-2deg));
        }
        img {
            height: 100%;
            width: 100%;
        }
    }
}

.book-link--required:before {
    content: "Required";
    position: absolute;
    bottom: 15px;
    right: -34px;
    background-color: $red;
color: white;
    text-transform: uppercase;
    font-size: .75em;
    letter-spacing: .08em;
    padding: .5em 3em;
    @include transform(rotate(-35deg));
}

.mentors {
    position: relative;
    max-width: 650px !important;
    &:after {
        content: url('../../images/bouquet-1.svg');
        position: absolute;
        left: 50%;
        top: 50%;
        @include transform(translateY(50%) translateX(-50%));
        @media only screen and (max-width: 600px) {
          display: none;
        }
    }
}

.bio-teaser {
    float: left;
    width: 50%;
    padding: 2%;
    @media only screen and (max-width: 600px) {
        float: none;
        width: 100%;
        padding: 1em;
        p {text-align: center !important;}
    }
    img {
        max-width: 180px;
        margin: 0 auto 1em auto;
    }
}

.get-started {
    small {
        display: block;
        font-size: .9em;
        opacity: .9;
    }
    .button {
        margin-bottom: 1.25rem;
    }
}
