body.home {
    text-align: center;
}

.section {
    padding: 4em 1em;
    & > div {
        max-width: $section-max-width;
        margin: 0 auto;
    }
    &.section--white {
        background-color: #ffffff;
    }
    &.section--tan {
        background-color: $tan;
    }
}

.section--first {
    background-image: url('../../images/home-flower.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 80%;
    padding: 12em 1em 4em;
    @media only screen and (max-width: 480px) {
        padding: 8em 1em;
    }
}

.introduction {
    color: white;
    .button {
        margin: 1.25rem 0;
    }
}

.introduction--logo-white {
    display: block;
    height: 80px;
    width: 180px;
    text-indent: -5000px;
    background-image: url('../../images/tiny-love-logo-full-white.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 1em;
    left: 1em;
    @media only screen and (max-width: 40em) {
        height: 56px;
        width: 140px;
    }
}
.introduction__access {
    position: absolute;
    top: 1em;
    right: 1em;
    li {
        display: inline-block;
        margin-left: 1em;
    }
    a {
        font-family: $display-font;
        color: white;
        text-decoration: none;
    }
}

.introduction__headline {
    font-size: 2.3em;
    text-shadow: $text-shadow-style;
    @media only screen and (max-width: 480px) {
        font-size: 2em;
    }
}
.scroll-instructions {
    font-family: $cursive;
    line-height: .8;
    font-size: 2.8em;
    margin: 0 0 1em 0;
    text-shadow: $text-shadow-style;
}


.how-it-works {
    background-image: url('../images/cherry-blossom.svg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    padding-top: 5em;
}