// Headings
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 1em 0;
    line-height: 1.3;
    font-weight: 400;
}
h1, h2, h4, h5, h5, h6 {
    font-family: $display-font;
}
h2 {
    font-size: 1.375em;
}
h3 {
    font-family: $cursive;
    font-size: 2.9em;
    line-height: .7;
    color: $teal;
}

.lesson-body, .main-content {
    h1, h2, h3, h4, h5, h6 {
        font-family: $ui-font;
        font-weight: 600;
        color: $deep-blue;
        line-height: 1.3;
        margin: .5em 0 1em 0;
    }
    h1 {font-size: 1.6em}
    h2 {font-size: 1.5em}
    h3 {font-size: 1.4em;}
    h4 {font-size: 1.2em;}
    ul, ol {
        margin-bottom: 1.25rem;
        padding-left: 1em;
    }
    ul li {
        list-style-type: disc;
    }
    a {
        color: darken($deep-blue, 80%);
        border-bottom: dotted 1px $red;
        text-decoration: none;
        @include transition(all 250ms ease-in);
        &:hover {
            background-color: rgba($red,.3);
        }
    }
}

// Paragraphs
p {
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    margin: 0 0 1.25rem 0;
}
ul, ol {
    margin: 0;
    padding: 0;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: 1.3;
    ul, ol {
        font-size: 1em;
    }
    li {
        margin-bottom: .5em;
        list-style: none;
    }
    &.two-column {
        @media only screen and (min-width: 600px) {
            @include columns(2);
            @include column-gap(3em);
            @include column-rule(1px solid $grey);
        }
    }
}


.lesson-body {
    ol {
        margin-left: 2em;
        li {list-style-type: decimal;}
    }
}


.price {
    color: $green-dark;
    position: relative;
    top: .1em;
    margin-left: .25em;
    display: inline-block;
    @include transform(scale(1.2) rotate(-4deg));
    @media only screen and (max-width: 480px) {
      @include transform(scale(1.1) rotate(-3deg));
      margin-left: .2em;
    }
}
