// Override Bootstrap variables in this file, e.g.

$font-size-base: 15px;

$display-font: 'Diehl Deco';
$cursive: 'Learning Curve Pro';
//$ui-font: 'Lato', sans-serif;
$ui-font: 'Merriweather', serif;
$text-shadow-style: 1px 1px 1px rgba(black, .4);
$section-max-width: 750px;
$base-font-size: 1em;
$base-font-weight: 400;
$base-line-height: 1.5;
