html {
    height: 100%;
}
body {
    height: 100%;
    font-family: $ui-font;
    color: $deep-blue;
}


ul, ol {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    line-height: 1.3;
}
h1, h2 {
    font-family: $display-font;
}