* {
    box-sizing:border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
    font-family: $ui-font;
    color: $deep-blue;
    background-color: $tan;
    -webkit-font-smoothing: antialiased;
}

@include selection {
  background-color: rgba($red,.5);
}
