$deep-blue: #313D4C;
$deep-blue-dark: #090E16;
$red: #ee6556;
$red-dark: #DC2B27;
$teal: #2DA38E;
$teal-dark: #327D6D;
$green: #8AC58C;
$green-dark: #4A984C;
$tan: #F6F3F1;
$tan-dark: #EDE7E3;
$brown: #C7BEB8;
$light-grey: #F1F2F3;
$grey: #D7D9DC;
