.ks-editable-btn {
    border-radius: 0;
    border: none !important;
    background-color: $grey;
    color: white;
    text-decoration: none !important;
    @include transition(all 250ms ease);
    &:hover {
        background-color: $red !important;
        border: none;
        color: white !important;
    }
}
