@mixin torn-page {
    &:after {
        content: "";
        height: 14px;
        width: 100%;
        position: absolute;
        top:100%;
        z-index: 5;
        background-image: url('../images/cut-effect.svg');
        background-repeat: repeat-x;
    }
}


@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
