@mixin torn-page {
    -webkit-filter: drop-shadow(0 1px 2px rgba(0,0,0,0.15));
    filter: drop-shadow(0 1px 2px rgba(0,0,0,0.15));
    &:after {
        content: "";
        height: 14px;
        width: 100%;
        position: absolute;
        top:100%;
        z-index: 5;
        background-image: url('../images/cut-effect.svg');
        background-repeat: repeat-x;
    }
}


@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
